<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Torrent_Collection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <connectionStrings>
    <add
      name="DefaultConnection"
      connectionString="Server=tcp:torrencollection.database.windows.net,1433;Initial Catalog=TCDB;Persist Security Info=False;User ID=GreshnikAlex;Password=Greshnik02051995alex;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <Torrent_Collection.Properties.Settings>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
    </Torrent_Collection.Properties.Settings>
  </userSettings>
</configuration>